# Prevent pycache from being pushed to repo
__pycache__

# Prevent notebook files used for testing from being pushed to repo
*.ipynb

# Prevent zip files with redundant data from being pushed to repo
data/*.zip

# Prevent .DS_Store data from being pushed to database
.DS_Store